.about-Us {
  padding-top: 40px;
  max-width: 70%;
  margin: auto;

  @media (max-width: 992px) {
    max-width: 85%; // Slightly increase the width for medium screens
  }

  @media (max-width: 768px) {
    max-width: 95%; // Further increase the width for smaller screens
  }

  @media (max-width: 576px) {
    max-width: 100%; // Make it full-width on very small screens
    padding: 20px; // Add some padding for better readability
  }
}

h1 {
  font-size: 50px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 40px; // Decrease font size on tablets
  }

  @media (max-width: 576px) {
    font-size: 35px; // Further decrease font size on mobile
  }
}

h5 {
  font-size: 24px;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 20px; // Decrease font size on tablets
  }

  @media (max-width: 576px) {
    font-size: 18px; // Further decrease font size on mobile
  }
}

p {
  font-size: 16px;
  line-height: 1.6;

  @media (max-width: 768px) {
    font-size: 15px; // Slightly decrease font size on tablets
  }

  @media (max-width: 576px) {
    font-size: 14px; // Further decrease font size on mobile
    line-height: 1.5; // Adjust line-height for better readability
  }
}

ul {
  padding-left: 20px; // Add some padding for list items
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 15px; // Decrease font size on tablets
  }

  @media (max-width: 576px) {
    font-size: 14px; // Further decrease font size on mobile
  }
}
